<?xml version="1.0"?>
<model>
  <name>Sydney Coast</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Open Robotics; UAV-USV integration</name>
  </author>
  <description>
    Scaled integration of the Open Robotics Sydney Regatta model.
    Original asset: CC BY 4.0.
  </description>
</model>
