<?xml version='1.0' encoding='utf-8'?>
<model>
  <name>Cooperative Enemy 02 Boat</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>UAV-USV Team</name>
    <email>team@example.com</email>
  </author>
  <description>Simple hostile boat enemy_02 for the maritime defense simulation.</description>
</model>